/* Containers (each box containing title of nonfiction) */
.expand-container {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Fullscreen mode */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fdf6e3; 
    overflow: hidden;
    align-items: center;
  }
  
  /* Title styling */
  .expand-container h2 {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 10px;
  }
  
  /* Button */
  .expand-container button {
    background-color: #800000;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  /* Make button darker when hovering over button */
  .expand-container button:hover {
    background-color: #600000;
  }

  /* Html file content inside iframe */
  .expanded-content {
    height: 100%;
    width: 100%;
    max-width: 85%;
    margin-top: 30px;
  }
  
  /* Html file iframe */
  .expanded-content iframe {    
    height: 650px; /* Height of html text box */
    background-color: white;
  }

  /* When button is pressed, border and shadow are quickly removed. */
  .expand-container.fullscreen {
    border: none;
    box-shadow: none;
  }